---

📓 Using Jupyter Notebook: Little Lemon Booking System Exercises


---

📘 Exercise 1: Set up the client project

🔹 Overview

In this first exercise, we will prepare your working environment for developing Little Lemon’s Booking System.
We will:

1. Verify Python installation.


2. Install and launch Jupyter Notebook.


3. Install MySQL Connector/Python and test a database connection.

---

📝 Task 1: Verify Python Installation

Check if Python 3 is installed and available in our system path.

In [ ]:
python --version

---

📝 Task 2: Install and Launch Jupyter Notebook

Install Jupyter Notebook using pip, then launch it:

In [ ]:
python -m pip install jupyter

jupyter notebook

In Jupyter, create a new notebook with Python 3 (ipykernel) to start coding.


---


📝 Task 3: Connect Python to MySQL

Steps:

1. Install mysql-connector-python.


2. Import the connector module.


3. Establish a connection to your MySQL database.

In [5]:
# Step 1: Install MySQL Connector
!pip install mysql-connector-python
print("\nThe Connector between Python and MySQL has been successfully installed.\n")
# Step 2: Import connector
import mysql.connector as connector

# Step 3: Connect to the database
connection = connector.connect(
    user="root", 
        password=""
        )

print("Connection successful:", connection.is_connected())

Requirement already satisfied: mysql-connector-python in /home/coder/.local/lib/python3.8/site-packages (9.0.0)

The Connector between Python and MySQL has been successfully installed.

Connection successful: True

---

📘 Exercise 2: Add query functions

🔹 Overview

In this exercise, we will add query functionality to the booking system.
We will:

1. Connect to the database.


2. Show all tables.


3. Run a query with a JOIN to extract customer details.

---

📝 Task 1: Connect to the Database

Extend your environment to connect with the database, specifying the database name when creating the connection.

In [6]:
import mysql.connector as connector

# Connect directly to the "little_lemon" database
connection = connector.connect(
    user="root", 
    password="", 
    db="little_lemon"
)

cursor = connection.cursor()
print("Database connection established.")

Database connection established.

---

📝 Task 2: Show All Tables

Run a query to display all tables in the database.

In [7]:
# Query to show all tables
show_tables_query = "SHOW TABLES"
cursor.execute(show_tables_query)

# Fetch and display results
results = cursor.fetchall()
print("Tables in the database:")
for table in results:
    print(table[0])

Tables in the database:
Bookings
MenuItems
Menus
Orders

---

📝 Task 3: Query with Table JOIN

Retrieve the full name, contact details, and bill amount for customers who spent more than $60.

Steps:

1. Select relevant attributes (FullName, ContactNumber, TotalCost).


2. Join Customers and Orders on CustomerID.


3. Filter results with WHERE TotalCost > 60.

In [8]:
# JOIN query
join_query = """
SELECT 
    Customers.FullName,
    Customers.ContactNumber,
    Orders.TotalCost
FROM Customers
INNER JOIN Orders 
    ON Customers.CustomerID = Orders.CustomerID
WHERE Orders.TotalCost > 60;
"""

cursor.execute(join_query)
results = cursor.fetchall()

print("Customers who spent more than $60:")
for row in results:
    name, contact, total = row
    print(f"Name: {name}, Contact: {contact}, Total Spent: ${total}")

ProgrammingError: 1146 (42S02): Table 'little_lemon.Customers' doesn't exist

---

# 🎯 Conclusion

**In Exercise 1, we configured our Python + Jupyter + MySQL environment.**


**In Exercise 2, we added query functionality:**




Verified the database tables.

Queried customers with orders greater than $60 using a JOIN.



This foundation will allow us to build a fully functional booking system for Little Lemon.